<!DOCTYPE html>
<html>
  <head>
    <!-- AdSense zahteva -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6078218813238842",
        enable_page_level_ads: true
      });
    </script>

    <title>MontessoriMozaik</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div style="text-align:center">
        <%= image_tag asset_path('Montessori-mozaik_logo.png') %>
      </div>
    </div>

    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse" id="navbar-collapsable">
        <div class="navbar-header">
          <!-- <%= image_tag asset_path('Mozaik_LOGO.png') %> -->
          <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Domov', root_path %></li>
          <!-- <li><%= link_to 'Maria Montessori', "/static_pages/maria_montessori" %></li> -->
          <li><%= link_to 'O meni', "/static_pages/o_meni" %></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
    </div>
  </body>
</html>
